.custom-slider {
    margin-left: auto;
    margin-right: auto;
}
.custom-slider > .slick-list {
    padding-top: 40px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .custom-slider > .slick-list {
        margin-bottom: 16px;
    }
}
