.found_country{
    position: absolute;
    top: 110px;
    right: 190px;
    width: 430px;
    background: white;
    border-radius: 20px 0 20px 0;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.hr{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.text{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}