@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
  text-decoration: unset;
}
