.country{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: none;
    cursor: pointer;
    transform-origin: center;
}

.country_hover{
    transform: rotate(180deg);

}